body {
    margin: 0;
    font-family: Lato;
    font-size: 22px;
}

#newFramework {
    padding-top: 1px;
    padding-bottom: 1em;
    padding-left: 1em;
    background-color: crimson;
}

input {
    margin-left: 1em;
    width: 300px;
    font-family: Lato;
    font-size: 22px;
}

#buttonAddFramework {
    margin-left: 0;
    padding:5px 15px;
    border:1 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0px;
}

li {
    padding-top: 10px;
    width: 150px;
    text-align: center;
    list-style: none;
    display: inline-block;
}

.logo {
    padding-left: 25px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.logo img {
    width: 100%;
}

#validationError {
    color: red;
    display: inline;
}