body {
    width: 100%;
    margin: 0;
    font-family: Lato;
    font-size: 22px;
}

input {
    margin-left: 1em;
    font-family: Lato;
    font-size: 22px;
}

.doButton {
    margin-left: 0;
    padding:5px 25px;
    border:1 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0px;
}

li {
    padding-top: 10px;
    width: 200px;
    text-align: center;
    list-style: none;
    display: inline-block;
}

.logo {
    padding-left: 25px;
    width: 150px;
    height: 150px;
    /*overflow: hidden;*/
}

.logo img {
    width: 100%;
}

#editor {
    height: 350px;
    font-size: 18px;
    position: relative;
    /*position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
}

#actions, #results {
    padding: 10px;
}

.errorMessage {
    background: red;
    color: white;
}

.consoleMessage {
    background: black;
    color: white;
}

header {
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-family: Monaco;
    font-size: 2em;
    background-color: black;
    color: white;
}